<!DOCTYPE html>
<html>
  <head>
    <title>Add Illness</title>
  </head>
  <body>
    <body style="background-color: bisque;"></body>
    <h1>Add Illness</h1>
    <form method="POST" action="/add_illness">
      <label for="nazwa">Nazwa:</label>
      <input type="text" id="nazwa" name="nazwa" required><br><br>
      <label for="objawy">Objawy:</label>
      <textarea id="objawy" name="objawy"></textarea><br><br>
      <label for="opis">Opis:</label>
      <textarea id="opis" name="opis"></textarea><br><br>
      <input type="submit" value="Dodaj">
    </form>
    {% if msg %}
    <p>{{ msg }}</p>
    {% endif %}
    <a href ="{{url_for('admin_panel')}}">Wróć do panelu</a>
  </body>
</html>
