<!DOCTYPE html>
<html>
<head>
  <title>Dodaj nowego klienta</title>
</head>
<body>
  <h1>Dodaj nowego klienta</h1>
  <body style="background-color: bisque;"></body>

  {% if msg %}
    <p>{{ msg }}</p>
  {% endif %}
  <form method="POST" action="{{ url_for('add_client') }}">
    <label for="pesel">PESEL:</label>
    <input type="text" id="pesel" name="pesel" required><br>

    <label for="imie">Imię:</label>
    <input type="text" id="imie" name="imie" required><br>

    <label for="nazwisko">Nazwisko:</label>
    <input type="text" id="nazwisko" name="nazwisko" required><br>

    <label for="data_urodzenia">Data urodzenia:</label>
    <input type="date" id="data_urodzenia" name="data_urodzenia" required><br>

    <label for="id_rezerwacji_parkingu">id_rezerwacji_parkingu:</label>
    <input type="text" id="id_rezerwacji_parkingu" name="id_rezerwacji_parkingu"><br>

    <label for="id_turnusu">ID turnusu:</label>
    <select id="id_turnusu" name="ID_turnusu">
      {% for id in available_id_turnusu %}
        <option value="{{ id }}">{{ id }}</option>
      {% endfor %}
    </select><br>

    <label for="numer_pokoju">Numer pokoju:</label>
    <select id="numer_pokoju" name="numer_pokoju">
      {% for numer in available_numer_pokoju %}
        <option value="{{ numer }}">{{ numer }}</option>
      {% endfor %}
    </select><br>

    <label for="adres">Adres:</label>
    <input type="text" id="adres" name="adres" required><br>

    <label for="haslo">Hasło:</label>
    <input type="password" id="haslo" name="haslo" required><br>

    <input type="submit" value="Dodaj klienta">
    <a href ="{{url_for('admin_panel')}}">Wróć do panelu</a>
  </form>
</body>
</html>
