<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Dodawanie rezerwacji parkingu</title>
  </head>
  <body>
    <h1>Dodawanie rezerwacji parkingu</h1>
    {% if msg %}
      <p>{{ msg }}</p>
    {% endif %}
    <form action="/add_my_res" method="POST">
      <label for="id_klienta">ID klienta:</label>
      <input type="text" id="id_klienta" name="id_klienta" required><br>

      <label for="haslo">Haslo:</label>
      <input type="text" id="haslo" name="haslo" required><br>

      <label for="id_rezerwacji">ID rezerwacji:</label>
      <input type="text" id="id_rezerwacji" name="id_rezerwacji" required><br>

      <label for="termin_rozpoczecia">Termin rozpoczecia:</label>
      <input type="date" id="termin_rozpoczecia" name="termin_rozpoczecia" required><br>

      <label for="termin_zakonczenia">Termin zakonczenia:</label>
      <input type="date" id="termin_zakonczenia" name="termin_zakonczenia" required><br>

      <label for="numer_miejsca">Numer miejsca:</label>
      <input type="number" id="numer_miejsca" name="numer_miejsca" required><br>

      <input type="submit" value="Dodaj rezerwacje">
    </form>
  </body>
</html>
