<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Patient illnesses</title>
  </head>
  <body>
    <body style="..."></body>
    <h1>Choroby podanego użytkownika: </h1>
    <form action="{{ url_for('patient_illnesses') }}" method="get">
      <label for="patient_id">Patient ID:</label>
      <input type="text" name="ID_pacjenta" id="patient_id">
      <input type="submit" value="Pokaż choroby">
    </form>
    {% if illnesses %}
      <ul>
        {% for choroba in illnesses %}
          <li>{{ choroba['pesel'] }} - {{ choroba['choroba'] }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No illnesses found for patient {{ patient_id }}.</p>
    {% endif %}

    <a href ="{{url_for('worker_panel')}}">Wróć do panelu</a>
  </body>
</html>

