<!DOCTYPE html>
<html>
<head>
	<title>Positions List</title>
</head>
<body>
    <body style="background-color: bisque;"></body>
	<h1>Lista stanowisk</h1>
	<table>
		<thead>
			<tr>
				<th>ID_stanowiska</th>
				<th>Nazwa stanowiska</th>
				<th>Wynagrodzenie</th>
				<th>Rodzaj zatrudnienia</th>
			</tr>
		</thead>
		<tbody>
			{% for position in positions %}
			<tr>
				<td>{{ position.ID_stanowiska }}</td>
				<td>{{ position.Nazwa_stanowiska }}</td>
				<td>{{ position.Stawka }}</td>
				<td>{{ position.Rodzaj_zatrudnienia }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>
