<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Illness description</title>
  </head>
  <body>
    <body style="background-color: bisque;"></body>
    <h1>Choroba z opisem: </h1>
    <form action="{{ url_for('show_illness_desc') }}" method="get">
      <label for="illness_id">Illness ID:</label>
      <input type="text" name="ID_choroby" id="illness_id">
      <input type="submit" value="Pokaż opis">
    </form>
    {% if illnesses %}
      <h2>Zabiegi pacjenta {{ patient_id }}</h2>
      <ul>
        {% for illness in illnesses %}
          <li>{{ illness['nazwa'] }} - {{ illness['opis'] }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No description found for illness {{ illness_id }}.</p>
    {% endif %}

    <a href ="{{url_for('worker_panel')}}">Wróć do panelu</a>
  </body>
</html>

