<!DOCTYPE html>
<html>
  <head>
    <body style="background-color: bisque;"></body>
    <title>Equipment List</title>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }
      th, td {
        text-align: left;
        padding: 8px;
        border-bottom: 1px solid #ddd;
      }
      th {
        background-color: #f2f2f2;
      }
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
    </style>
  </head>
  <body>
    <h1>Equipment List</h1>
    {{ msg|safe }}
    <a href ="{{url_for('admin_panel')}}">Wróć do panelu</a>

  </body>
</html>
