<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Treatment schedule</title>
  </head>
  <body>
    <body style="background-color: bisque;"></body>
    <h1>Lista zabiegów podanego użytkownika: </h1>
    <form action="{{ url_for('show_my_schedule') }}" method="get">
      <label for="guest_id">Patient ID:</label>
      <input type="text" name="idklient" id="guest_id">
      <input type="submit" value="Pokaż zabiegi">
    </form>
    {% if schedules %}
      <ul>
        {% for schedule in schedules %}
          <li>{{ schedule['termin'] }}: {{ schedule['nazwa'] }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No treatment scheduled for guest {{ guest_id }}.</p>
    {% endif %}

    <a href ="{{url_for('user_panel')}}">Wróć do panelu</a>
  </body>
</html>

