<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>worker_login</title>
</head>
<body>
    <body style="background-color: bisque;"></body>
    <h1>Logowanie:</h1>

    <form action="{{ url_for('worker_login') }}" method="post">
        <input type="text" name="username" placeholder="Username" id="username" required>
        <input type="password" name="password" placeholder="Password" id="password" required>
        <div class="msg">{{ msg }}</div>
        <input type="submit" value="Login">
    </form>

    <a href ="{{url_for('home')}}">Wróć do wyboru panelu</a>
</body>
</html>