<!DOCTYPE html>
<html>
<head>
	<title>Dodawanie sprzętu medycznego</title>
</head>
<body>
    <body style="background-color: bisque;"></body>
	<h1>Dodawanie sprzętu medycznego</h1>
	{% if msg %}
		<p>{{ msg }}</p>
	{% endif %}
	<form method="POST" action="{{ url_for('add_medical_equipment') }}">
		<label for="rodzaj">Rodzaj urządzenia:</label>
		<input type="text" name="rodzaj" required>
		<br>
		<label for="pokoj">Pokój:</label>
		<select name="pokoj">
			{% for room_number in room_numbers %}
				<option value="{{ room_number }}">{{ room_number }}</option>
			{% endfor %}
		</select>
		<br>
		<label for="marka">Marka:</label>
		<input type="text" name="marka">
		<br>
		<label for="model">Model:</label>
		<input type="text" name="model">
		<br>
		<label for="zastosowanie">Zastosowanie:</label>
		<input type="text" name="zastosowanie">
		<br>
		<label for="termin_ostatniego_serwisu">Termin ostatniego serwisu:</label>
		<input type="date" name="termin_ostatniego_serwisu">
		<br>
		<label for="okres_serwisu">Okres serwisu:</label>
		<input type="text" name="okres_serwisu">
		<br>
		<input type="submit" value="Dodaj sprzęt medyczny">
	</form>

    <a href ="{{url_for('admin_panel')}}">Wróć do panelu</a>
</body>
</html>


