<!DOCTYPE html>
<html>
  <head>
    <title>Dodaj turnus</title>
  </head>
  <body>
    <body style="background-color: bisque;">
    <h1>Dodaj turnus</h1>
    {% if msg %}
      <p>{{ msg }}</p>
    {% endif %}
    <form method="POST" action="/add_batch">
      <label for="id">ID turnusu:</label>
      <input type="text" name="id" required><br><br>
      <label for="datap">Data przyjazdu:</label>
      <input type="date" name="datap" required><br><br>
      <label for="dataw">Data wyjazdu:</label>
      <input type="date" name="dataw" required><br><br>
      <input type="submit" value="Dodaj">
    </form>
    <a href ="{{url_for('admin_panel')}}">Wróć do panelu</a>
  </body>
</html>
