<!DOCTYPE html>
<html>
<head>
	<title>Delete Treatment Room</title>
</head>
<body>
    <body style="background-color: bisque;"></body>
	<h1>usuwanie sal zabiegowych</h1>
	{% if msg %}
		<p>{{ msg }}</p>
	{% endif %}
	<form method="POST" action="{{ url_for('delete_treatment_room') }}">
		<label for="numer">Numer Sali:</label>
		<input type="text" name="numer" required>
		<br><br>
		<button type="submit">Usuń Salę</button>
	</form>
    <a href ="{{url_for('admin_panel')}}">Wróć do panelu</a>
</body>
</html>
