<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanatorium zacisze</title>
</head>
<body>
    <body style="background-color: bisque;"></body>
    <h1>Witamy w sanatorium "za cisze"</h1>
    <h3>Opcje logowania:</h3>
    <ul>
        <li><a href="{{ url_for('user_login') }}">panel gościa ośrodka</a></li>
        <li><a href="{{ url_for('worker_login') }}">panel pracownika ośrodka</a></li>
        <li><a href="{{ url_for('admin_login') }}">panel administratora ośrodka</a></li>
    </ul>
</body>
</html>