<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuwanie pracownika</title>
</head>
<body>
    <body style="background-color: bisque;"></body>
    <h1>Usuwanie pracownika:</h1>

    <form action="{{ url_for('remove_employee') }}" method="post">
        <input type="text" name="pesel" placeholder="Pesel" id="pesel" required>
        <div class="msg">{{ msg }}</div>
        <input type="submit" value="Usun pracownika">
    </form>

    <a href ="{{url_for('admin_panel')}}">Wróć do panelu</a>

</body>
</html>