<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Parking reservation</title>
  </head>
  <body>
    <body style="background-color: bisque;"></body>
    <h1>Rezerwacja parkingu podanego użytkownika: </h1>
    <form action="{{ url_for('show_my_res') }}" method="get">
      <label for="guest_id">Patient ID:</label>
      <input type="text" name="idklient" id="guest_id">
      <input type="submit" value="Pokaż rezerwacje">
    </form>
    {% if reservations %}
      <ul>
        {% for reservation in reservations %}
          <li>Miejsce {{ reservation['numer'] }}: {{ reservation['terminr'] }} - {{ reservation['terminz'] }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No parking reservation found for guest {{ guest_id }}.</p>
    {% endif %}

    <a href ="{{url_for('user_panel')}}">Wróć do panelu</a>
  </body>
</html>

