<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Treatment Schedule</title>
  </head>
  <body>
    <body style="background-color: bisque;"></body>
    <h1>Zabiegi podanego użytkownika: </h1>
    <form action="{{ url_for('show_doctor_treatments') }}" method="get">
      <label for="employee_id">Employee ID:</label>
      <input type="text" name="ID_pracownika" id="employee_id">
      <input type="submit" value="Pokaż zabiegi">
    </form>
    {% if treatment_schedule %}
      <h2>Zabiegi pracownika {{ patient_id }}</h2>
      <ul>
        {% for treatment in treatment_schedule %}
          <li>{{ treatment['termin'] }} - {{ treatment['id'] }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No treatment schedule found for employee {{ employee_id }}.</p>
    {% endif %}

    <a href ="{{url_for('worker_panel')}}">Wróć do panelu</a>
  </body>
</html>

