<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Treatment History</title>
  </head>
  <body>
    <body style="background-color: bisque;"></body>
    <h1>Zabiegi podanego użytkownika: </h1>
    <form action="{{ url_for('treatment_history') }}" method="get">
      <label for="patient_id">Patient ID:</label>
      <input type="text" name="ID_pacjenta" id="patient_id">
      <input type="submit" value="Pokaż zabiegi">
    </form>
    {% if treatment_history %}
      <h2>Zabiegi pacjenta {{ patient_id }}</h2>
      <ul>
        {% for treatment in treatment_history %}
          <li>{{ treatment['termin'] }} - {{ treatment['zabieg'] }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No treatment history found for patient {{ patient_id }}.</p>
    {% endif %}

    <a href ="{{url_for('admin_panel')}}">Wróć do panelu</a>
  </body>
</html>

