<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="loggedin">
    <body style="background-color: bisque;"></body>

    <nav class="navtop">
        <div>
            <h1>Panel gościa sanatorium</h1>
            <a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </div>
    </nav>

    <h4>Cześć {{ username }}! Oto dostępne dla ciebie czynności.</h4>
    <ul>
        <li> <a href="{{ url_for('add_my_res') }}"> dodawanie rezerwacji parkingu</a></li>
        <li> <a href="{{ url_for('del_my_res') }}"> usuwanie rezerwacji parkingu</a></li>
        <li> <a href="{{ url_for('show_my_res') }}"> wyswietlanie rezerwacji parkingu</a></li>
        <li> <a href="{{ url_for('show_free_park') }}"> wyswietlanie wolnych miejsc parkingowych</a></li>
        <li> <a href="{{ url_for('show_my_schedule') }}"> wyswietlanie zabiegow danego klienta</a></li>
        <li> <a href="{{ url_for('show_my_booking') }}"> wyswietlanie zabiegow danego klienta</a></li>


    </ul>
</body>
</html>