<!DOCTYPE html>
<html>
  <head>
    <title>Employee List</title>
  </head>
  <body>
    <body style="background-color: bisque;"></body>
    <h1>Lista zatrudnionych</h1>
    {% if employees %}
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Pesel</th>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>Haslo</th>
            <th>Email</th>
            <th>Stanowisko</th>
            <th>Czy_admin</th>
          </tr>
        </thead>
        <tbody>
          {% for employee in employees %}
            <tr>
              <td>{{ employee.idpracownicy }}</td>
              <td>{{ employee.Pesel }}</td>
              <td>{{ employee.Imie }}</td>
              <td>{{ employee.Nazwisko }}</td>
              <td>{{ employee.Haslo }}</td>
              <td>{{ employee.Email }}</td>
              <td>{{ employee.Stanowisko }}</td>
              <td>{{ employee.Czy_admin }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Nie znaleziono pracowników.</p>
    {% endif %}

    <a href ="{{url_for('admin_panel')}}">Wróć do panelu</a>
  </body>
</html>
