<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="loggedin">
    <body style="background-color: bisque;"></body>

    <nav class="navtop">
        <div>
            <h1>Panel pracownika sanatorium</h1>
            <a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </div>
    </nav>

    <h4>Cześć {{ username }}! Oto dostępne dla ciebie czynności.</h4>
    <ul>
        <li> <a href="{{ url_for('add_patient_treatment') }}"> dodawanie rezerwacji zabiegu</a></li>
        <li> <a href="{{ url_for('delete_patient_treatment') }}"> usuwanie rezerwacji zabiegu</a></li>
        <li> <a href="{{ url_for('treatment_history') }}"> Wyszukiwanie historii odbytych zabiegów gościa</a></li>
        <li> <a href="{{ url_for('patient_illnesses') }}"> Wyszukiwanie wszystkich chorób gościa</a></li>
        <li> <a href="{{ url_for('show_doctor_treatments') }}"> Wyszukiwanie zabiegów danego pracownika</a></li>
        <li> <a href="{{ url_for('show_rooms_equipment') }}"> wyswietlanie sal z wyposarzeniem</a></li>
        <li> <a href="{{ url_for('show_illness_desc') }}"> wyswietlanie opisu wybranej choroby</a></li>
        <li> <a href="{{ url_for('show_treatment_desc') }}"> wyswietlanie opisu wybranego zabiegu</a></li>



    </ul>
</body>
</html>